@import "normalize.css";
@import "grid.css";
@import "fonts.css";

:root {
  /* color */
  --app-bg-cl: white;
  --section-bg-cl: white;
  --primary-cl: #0abead;
  --orange-cl: #f57f17;
  --text-cl: #333333;
}

/* 

reset style

*/

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

/* 

App

*/

html {
  font-size: 10px;
}

body {
  background-color: var(--app-bg-cl);
  color: var(--text-cl);
  font-family: "Poppins";
  font-size: 1.6rem;
  line-height: 1.5;
}

/* =====================

   header
========================
*/
.header {
  background-color: var(--section-bg-cl);
  box-shadow: 0 0.5rem 4rem rgba(4, 195, 255, 0.16);
  z-index: 100;
  position: fixed;
  right: 0;
  left: 0;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}
.nav__logo {
  color: var(--primary-cl);
  font-family: "Poppins Black";
  font-size: 6rem;
  margin: 0;
}
.menu {
  display: flex;
  z-index: 100;
}
.menu__item {
  margin-right: 4rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  display: inline-block;
  color: var(--text-cl);
  font-family: "Poppins Medium";
  transition: color 150ms ease-in;
}
.menu__link:hover {
  color: var(--primary-cl);
}

.menu__link--active {
  color: var(--primary-cl);
}

.nav__toggle-icon {
  display: none;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav__toggle-line {
  position: relative;
}
.nav__toggle-line,
.nav__toggle-line::before,
.nav__toggle-line::after {
  content: "";
  background-color: var(--primary-cl);
  width: 4.5rem;
  height: 0.4rem;
  border-radius: 2rem;
  transition: all 100ms ease-in;
}
.nav__toggle-line::before {
  position: absolute;
  top: 1.2rem;
  transition: all 150ms ease-in;
}
.nav__toggle-line::after {
  position: absolute;
  bottom: 1.2rem;
  transition: all 150ms ease-in;
}

.nav__toggle-icon--open .nav__toggle-line::before {
  transform: translateY(-1.2rem) rotate(-45deg);
}
.nav__toggle-icon--open .nav__toggle-line::after {
  transform: translateY(1.2rem) rotate(45deg);
}

.nav__toggle-icon--open .nav__toggle-line {
  background-color: transparent;
}

/* =====================

main
========================
*/
.main {
  padding-top: 12rem;
}

/* =====================

home
========================
*/
.home {
}
.home__content {
}
.home__name {
  color: var(--primary-cl);
  font-size: 2.2rem;
  font-family: "Poppins SemiBold";
  margin: 0;
}
.home__name span {
  color: var(--orange-cl);
}

.home__title {
  color: var(--primary-cl);
  font-size: 4rem;
  font-family: "Poppins Bold";
  margin: 0;
}
.home__caption {
  margin-top: 1rem;
}
.home__links-wrapper {
}
.home__link {
}
.home__photo {
}
