@import "normalize.css";
@import "grid.css";
@import "fonts.css";

:root {
  /* color */
  --app-bg-cl-lite: white;
  --section-bg-cl-lite: white;
  --primary-cl: #0abead;
  --text-cl: #333333;
}

/* 

reset style

*/

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

/* 

App

*/

html {
  font-size: 10px;
}

body {
  font-family: "Poppins";
  font-size: 1.6rem;
  line-height: 1.5;
}

/* =========
   header
============
*/
.header {
  background-color: var(--section-bg-cl-lite);
  box-shadow: 0 0.5rem 4rem rgba(4, 195, 255, 0.16);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}
.nav__logo {
  color: var(--primary-cl);
  font-family: "Poppins Black";
  font-size: 6rem;
  margin: 0;
}
.menu {
  display: flex;
}
.menu__item {
  margin-right: 4rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  display: inline-block;
  color: var(--text-cl);
  font-family: "Pippins Medium";
}

.menu__link--active {
  color: var(--primary-cl);
}

.nav__toggle-icon {
  display: none;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav__toggle-line {
  position: relative;
}
.nav__toggle-line,
.nav__toggle-line::before,
.nav__toggle-line::after {
  content: "";
  background-color: var(--primary-cl);
  width: 4.5rem;
  height: 0.4rem;
  border-radius: 2rem;
  transition: all 100ms ease-in;
}
.nav__toggle-line::before {
  position: absolute;
  top: 1rem;
  transition: all 150ms ease-in;
}
.nav__toggle-line::after {
  position: absolute;
  bottom: 1rem;
  transition: all 150ms ease-in;
}

.nav__toggle-icon--open .nav__toggle-line::before {
  transform: translateY(-1rem) rotate(-45deg);
}
.nav__toggle-icon--open .nav__toggle-line::after {
  transform: translateY(1rem) rotate(45deg);
}

.nav__toggle-icon--open .nav__toggle-line {
  background-color: transparent;
}
