@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .nav__logo {
    font-size: 5rem;
  }
  .menu__item {
    margin-right: 2rem;
  }
}

@media (max-width: 768px) {
  .menu {
    background-color: var(--section-bg-cl-lite);
    position: absolute;
    top: 100%;
    flex-direction: column;
    width: 100%;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in;
    height: 0;
    overflow: hidden;
  }

  .menu--open {
    height: 33rem;
  }

  .menu__item {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .menu__item:first-child {
    margin-top: 2rem;
  }

  .nav__toggle-icon {
    display: flex;
  }

  .cover {
    background-color: rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: all 200ms ease-in;
  }
  .cover--show {
    opacity: 1;
    z-index: 99;
  }
}

@media (max-width: 576px) {
}
